.section-bookmarks{
  right: -22vw;
    top: 10%;
  position: absolute;
  height: 26vh;
  width: 17vw;
  color:white;
  background: rgba(55, 55, 55, 0.48);
    backdrop-filter: blur(28px);
    border-radius: 24px;
  
  z-index: 1;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 24px;
  align-items: center;
  box-shadow: 0px 2px 8px rgba(33, 37, 41, 0.3), 0px 0px 1px rgba(33, 37, 41, 0.24);
}