header { 
  display: flex;
  height: 200px;
  align-items: center;
  text-align: center;
  position: relative;
  gap: 156px;
  margin-left: 8%;
}

.logo{
  top: 33%;
  width: 200px;
  height: 200px;
  background: url("../images/logo.png");
  position: relative;
  
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 36px;
}

.links{
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  gap: 56px;
}
.links a{
  color: #FFFFFF;
  text-decoration: none;
}