*{
  box-sizing: border-box;
}
.layers-sub{
  position: absolute;
    height: 26vh;
    width: 17vw;
    color: white;
    background: rgba(55, 55, 55, 0.48);
    backdrop-filter: blur(28px);
    
    right: calc(21px);
    top: 120px;
    z-index: 1;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 15px;
    align-items: center;
    box-shadow: 0px 2px 8px rgba(33, 37, 41, 0.3), 0px 0px 1px rgba(33, 37, 41, 0.24);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:24px 16px;
}
.layer{
  width: 100px;
  height: 100px;
  background-color: gray;
}